@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
  font-family: Roboto;
  background-color: #6b7dbc;
  color: white;
}
header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -200px;
}
h1{
  font-size: 38px;
  letter-spacing: 10.6px;
  line-height: 49px;
}
.body__wrapper {
  width: 1141px;
  margin: 0 auto;
  text-align: center;
}
.header__heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading__logo {
  margin-bottom: 12px;
}
.header__p {
  font-weight: 400;
  max-width: 400px;
  margin: 0 auto 50px auto;
}
.list__item {
  display: inline-block;
  margin-right: 115px;
  font-size: 12px;
  letter-spacing: 3px;
}
.list__item:last-child {
  margin-right: 0;
}
.wrapper__maincontent {
  position: absolute;
  z-index: -2;
  top: 30%;
  left: 30%;
}
.wrapper__partners {
  z-index: -1;
  position: absolute;
  right: -1920px;
  top: 0;
  width: 80%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d519e+49,4d519e+50,4d519e+50,4d519e+100&0+49,0.9+50,0.9+100 */
  background: linear-gradient(109deg, rgba(77, 81, 158, 0) 33%, rgba(77, 81, 158, 0.9) 33%, rgba(77, 81, 158, 0.9) 100%);
  /* W3C */
}
.wrapper__p{
  font-size: 14px;
  color: rgba(255,255,255, 0.7);
  margin-top: 10px;
}
.wrapper__button {
  margin-top: 50px;
  color: #f1ce5f;
  width: 200px;
  height: 50px;
  border: 3px #f1ce5f solid;
}
.partners__wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 440px;
}
.wrapper__models {
  z-index: -1;
  position: absolute;
  left: -1920px;
  top: 0;
  width: 80%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d519e+49,4d519e+50,4d519e+50,4d519e+100&0+49,0.9+50,0.9+100 */
  background: linear-gradient(-67deg, rgba(189, 107, 152, 0) 45%, rgba(189, 107, 152, 0.9) 33%, rgba(189, 107, 152, 0.9) 100%);
  /* W3C */
}
.models__wrapper{
  position: absolute;
  top: 50%;
  left: 30%;
  width: 440px;
}
