@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
  font-family: Roboto;
  background-color: #6b7dbc;
  color: white;
}
.body__wrapper {
  width: 1141px;
  margin: 0 auto;
  text-align: center;
}
.header__heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading__logo {
  margin-bottom: 12px;
}
.header__p {
  font-weight: 400;
  max-width: 400px;
  margin: 0 auto 50px auto;
}
.list__item {
  display: inline-block;
  margin-right: 115px;
  font-size: 12px;
  letter-spacing: 3px;
}
.list__item:last-child {
  margin-right: 0;
}
.wrapper__maincontent {
  margin-top: 50px;
}
.wrapper__partners{
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;
}
.wrapper__partners:after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width:0;
    height:0;
    border:150px solid rgba(255, 255, 255, 0);
    border-right:150px solid rgba(77, 81, 158, 0.9);
    border-bottom:150px solid  rgba(77, 81, 158, 0.9);
}
